.text-dsa-success {
    color: #83BE62 !important;
}

.text-dsa-danger {
    color: #FE6965 !important;
}

.text-dsa-warning {
    color: #FCCE8A !important;
}

.text-dsa-black {
    color: #3B3D39 !important;
}

.text-dsa-secondary {
    color: #7F817D !important;
}